<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Finances App</title>
  </head>
  <script src="node_modules/angular/angular.js"></script>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="main.css"/>
  <body ng-app="app" ng-controller="controller">
    <div class="container">
      <h2>Transactions</h2>
      <div class="row">
        <div class="transaction col-xs-12" ng-class="{'transfer':transaction.transfer}" ng-click=toggleTransfer(transaction) ng-repeat="transaction in transactions">
          <div class="row">
            <div class="col-xs-6">
              <span class="value">${{transaction.value}}</span> - <span class="text-muted">{{transaction.name}}</span>
              <div class="text-muted">{{transaction.source}}</div>
            </div>
            <div class="col-xs-6">
              <div ng-show="transaction.transfer">
                Wealth Transfer
              </div>
            </div>

          </div>

        </div>
      </div>

      <h3>Grand Totals:</h3>
      <h2>${{total}}</h2>



    </div>
    <script>
    app = angular.module('app', [])
    app.controller('controller', function($scope){

      $scope.toggleTransfer = function(transaction){
        transaction.transfer = !transaction.transfer;
      }

      $scope.getTotal = function(){
        let total = 0;
        for(let i=0; i<$scope.transactions.length; i++){
          let transaction = $scope.transactions[i]
          if(!transaction.transfer){
            total += transaction.value;
          }
        }
        return total;
      }

      $scope.$watch('transactions', function(oldVal, newVal){
        $scope.total = $scope.getTotal();
      }, true)

      $scope.transactions = [
        {
          name:"transaction 1",
          source: "citibank checking",
          value: 51
        },
        {
          name:"transaction 2",
          source: "citibank credit card",
          value: 30
        },
        {
          name: "transaction 3",
          source: "BoFA checking",
          value: 100
        }

      ]
    })
    </script>
  </body>
</html>